{% extends "base.html" %}
{% block header %}
    <!-- Page Header-->
    <header>
    <div class="overlay">
        <div class="jumbotron bkgnd-img partial"style="max-height: 330px; margin-top: 10%">
            <div class="container">
               <center><h1>请输入您的账号和密码</h1>
            </div>
        </div>
    </div>
    </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class="container">
            <div class="login-form">
                    <form method='POST' action=''>
                        {{form.hidden_tag()}}
                        {{form.email}}
                        {{form.username}}
                        {{form.password}}
                        {{form.submit(class="btn btn-success",id="submitBtn")}}
                    </form>
                    <a href="register">还没有账号？立即注册！</a>
                </div>
        </div>
        {% endblock %}