{% extends "base.html" %}
{% block header %}
        <!-- Page Header-->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="jumbotron bkgnd-img partial"style="max-height: 330px; margin-top: 10%">
                    <center><h1>Presentation</h1>
                </div>
            </div>
            </div>
        </header>
{% endblock %}
{% block content %} 
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        <img src="/static/assets/img/presen/confused.png">
        <img src="/static/assets/img/presen/position_map.png">
        <img src="/static/assets/img/presen/Info.png">
        <img src="/static/assets/img/presen/Forum.png">
    </div>
    {% endblock %}