<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>上海有戏</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-209918189-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-209918189-1');
        </script>
        <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5H6LWNT"></script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KJ5RZJ5');</script>
        <!-- End Google Tag Manager -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet"/>
        <!-- Fonts CSS-->
        <link rel="stylesheet" href="/static/css/body.css"/>
        <link rel="stylesheet" href="/static/css/heading.css"/>
        h1 {
            margin-top: 40px;
            text-align: center;
        }

        .navbar {
            height: 80px;
            background: black;
        }

        .navbar > nav > ul {
            display: flex;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 30px;
            justify-content: space-between;
        }

        .navbar > nav > ul > li > a {
            color: #0077ff;
            text-decoration: none;

        }
    </head>
    <body id="my_discussions">
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJ5RZJ5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
                <div class="container"><a class="navbar-brand js-scroll-trigger" href="home">上海有戏</a>
                    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">菜单 <i class="fas fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="drama">戏剧</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="discussion">论坛</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="logout">登出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        <!-- Page Header-->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="jumbotron bkgnd-img partial"style="max-height: 330px; margin-top: 10%">
                    <div class="container">
                       <center><h1>我的讨论</h1>
                    </div>
                </div>
            </div>
        </header>                                      
        <!-- Main Content-->
        <div class="container">            
            <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>分类</th>
                <th>标题</th>
                <th>作者</th>
                <th>日期</th>
                <th>内容</th>
                <th></th>
                <th></th>
            </tr>
            {% for discussion in discussions %}
                <tr>
                    <td>{{discussion.id}}</td>
                    <td>{{discussion.category}}</td>
                    <td>{{discussion.title}}</td>
                    <td>{{discussion.author}}</td>
                    <td>{{discussion.date_created.strftime('%Y-%m-%d') }}</td>
                    <td>{{discussion.discussion_body}}</td>
                    <td><a href="{{url_for('update_discussion', discussion_id=discussion.id)}}" class="btn btn-primary pull-right">更新</a></td>
                    <td><a href="{{url_for('delete_discussion', discussion_id=discussion.id)}}" class="btn btn-danger pull-right">删除</a></td>
                </tr>
            {% endfor %}
        </table>
        </div><!-- end container -->
        <!-- Copyright Section-->
        <section class="copyright py-4 text-center text-white">
            <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
        </section>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        </footer>
    </body>
</html>
